/* info color #138496 */
/* dark color #343A40 */
/* 
Extra small <576px	
Small ≥576px	
Medium ≥768px	
Large ≥992px	
Extra large ≥1200px 
*/

.landing-picture {
  height: 100vh;
  min-height: 700px;
  background-image: url("./images/image1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-overlay {
  height: 100vh;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

.thick-navbar {
  padding: 20px;
}

.nav-center-item {
  align-self: center;
}

.main-header {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 9999;
  color: white;
  font-size: 50px;
}
.btn-header-container {
  position: absolute;

  text-align: center;
  z-index: 9999;
  margin: 0px;
  left: 50%;
  top: 70%;
}
.btn-header {
  font-size: 30px;
  margin-left: -100%;
}

.footer-main {
  background-color: #343a40;
  color: white;
}
.footer-sub {
  background-color: #232629;
}
.hide-overflow {
  overflow: hidden;
}

.footer-link {
  color: #ffffff;
  font-weight: 700;
}

.footer-link:hover {
  color: #138496;
}

@media only screen and (max-width: 992px) {
  .nav-center-item {
    align-self: auto;
  }
}

@media only screen and (max-width: 767px) {
  .btn-header-container {
    top: 80%;
  }
  .btn-header {
    font-size: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .btn-header-container {
    top: 70%;
  }
  .btn-header {
    font-size: 30px;
  }
  .main-header {
    font-size: 30px;
  }
}
